@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.puzzles-container {
  width: 600px;
  height: 600px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;

  .selected {
    // background: #ffc0cb;
    // transform: translateY(-25%);
    -webkit-box-shadow: 0px 15px 20px 0px rgba(133, 133, 133, 1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(133, 133, 133, 1);
    box-shadow: 0px 15px 20px 0px rgba(133, 133, 133, 1);
    z-index: 5;

    @include keyframes(shake) {
      0% {
        transform: rotate(0);
      }
      20% {
        transform: rotate(0);
      }
      40% {
        transform: rotate(5deg);
      }
      60% {
        transform: rotate(-5deg);
      }
      80% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(0);
      }
    }
    // @include animate(shake, 1.5s, linear, infinite);
  }

  div {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 4rem;
    font-weight: 700;
    cursor: pointer;
    background: #eee;
    transition: all ease 1s;
    color: #444444;
  }

  div:hover {
    // background: #ffc0cb;
    // transform: translateY(-25%);
    -webkit-box-shadow: 0px 15px 20px 0px rgba(133, 133, 133, 1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(133, 133, 133, 1);
    box-shadow: 0px 15px 20px 0px rgba(133, 133, 133, 1);
  }
  .no-animation {
    animation: none;
  }
}
